window#desktopWallpaper div.wallpaper {
  background-position: center;
  background-size: cover;
}

window#desktopWallpaper div.wallpaper:not(.nobg) {
  background-image: url("../../assets/bg/img03.png");
}