@import url("./desktopicons.css");

window#desktopWallpaper div.wallpaper {
  background-position: center;
  background-size: cover;
}

window#desktopWallpaper div.wallpaper:not(.nobg) {
  background-image: var(--wallpaper);
}
